.react-flow__node {
    font-size: 12px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
}

.react-flow .react-flow__handle {
    border: none;
    pointer-events: all;
}

.react-flow__handle-right {
    transform: none;
    cursor: pointer;
}